.ant-layout-header--accounts {
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
    -webkit-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
    -moz-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
    background-color: #ffffff;
    @include border-radius(6px);
    line-height: 74px;
    padding: 0 16px;
    height: 74px;
    & .header-right {
        @include align-items(center);
        @include flexbox();
        & .header-button {
            margin-left: 20px;
            & .btn-login {
                font-size: 15px;
                border: none;
            }
            & .btn-register {
                background: $color-main;
                font-size: 15px;
                color: #ffffff;
                border: none;
            }
        }
        & .header-accounts {
            margin-left: 20px;
            & .btn-accounts {
                border-color: $color-main;
                background: $color-main;
                color: #ffffff;
                font-size: 15px;
            }
        }
    }
}