// attribute display
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    @include flexbox();
}

.align-items-center {
    @include align-items(center);
}

.align-items-start {
    @include align-items(flex-start);
}

.align-space-between {
    @include justify-content(space-between);
}

// attribute height & width
.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

// attribute margin
.ml-auto {
    margin-left: auto;
}

.ml-12 {
    margin-left: 12px;
}

.m-0 {
    margin: 0 !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.p-16 {
    padding: 16px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.p-relative {
    position: relative !important;
}

.p-absolute {
    position: absolute !important;
}