.ant-breadcrumb {
    margin-bottom: 10px;
    & .ant-breadcrumb-link {
        color: $color-font-gray;
    }
}

.ant-deflist {
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
    &::before,
    &::after {
        content: " ";
        display: table;
    }
    & .ant-deflist__label {
        min-width: 120px;
        text-align: left;
        float: left;
        clear: left;
        &::after {
            float: right;
            content: ":";
        }
    }
    & .ant-deflist__value {
        text-align: left;
        margin-bottom: 0;
        margin-left: 130px;
    }
}