.form-search--costume {
    & .ant-form-item {
        & .ant-form-item-label {
            padding-bottom: 0;
            & label {
                color: $color-font;
                font-weight: 500;
                font-size: 14px;
            }
        }
        & .ant-form-item-control {
            & .icon-search {
                position: absolute;
                font-size: 20px;
                padding: 5px 0;
                z-index: 2;
                & img {
                    max-height: 20px;
                    position: relative;
                    margin-top: -4px;
                }
            }
            & .ant-input {
                @include border-radius(0);
                background: transparent;
                border: none;
                border-bottom: 1px solid $color-font-light-gray;
                font-size: 16px;
                padding-right: 0;
                padding-left: 0;
                &.ant-input-disabled {
                    color: $color-font;
                    background: transparent;
                }
                &:focus,
                &:hover {
                    box-shadow: none;
                    outline: none;
                }
                &:focus {
                    border-color: $color-main;
                }
            }
            & .ant-select-selection {
                @include border-radius(0);
                background: transparent;
                border: none;
                border-bottom: 1px solid $color-font-light-gray;
                &:focus {
                    border-color: $color-main;
                }
                & .ant-select-selection__rendered {
                    margin-left: 30px;
                    & .ant-select-selection-selected-value {
                        color: $color-font;
                    }
                }
            }
            & .ant-select-open {
                & .ant-select-selection {
                    border-color: $color-main !important;
                }
            }
        }
    }
    & .ant-btn--add-passenger {
        @include border-radius(0);
        background: transparent;
        border: none;
        border-bottom: 1px solid $color-font-light-gray;
        color: $color-font;
        text-shadow: none;
        box-shadow: none;
        padding-left: 30px;
        &:hover,
        &:focus {
            color: $color-font;
            text-shadow: none;
            box-shadow: none;
            outline: none;
        }
    }
    & .btn-search {
        @include border-radius(4px);
        background: $color-main;
        margin-bottom: 10px;
        box-shadow: none;
        margin-top: -5px;
        color: #ffffff;
        border: 1px solid $color-main;
    }
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    box-shadow: none !important;
}