.md-title {
    letter-spacing: .5px;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    line-height: 30px;
    margin-bottom: 32px;
}

.md-subtitle {
    position: relative;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: .5);
    letter-spacing: .5px;
    font-weight: 400;
    margin-top: -26px;
    line-height: 20px;
}