.ant-modal-mask {
    background-color: rgba(0, 0, 0, .8) !important;
}

.ant-modal--preview {
    & .ant-modal {
        width: 100% !important;
        & .ant-modal-close {
            position: fixed !important;
            right: 16px;
            top: 16px;
            & .ant-modal-close-x {
                @include border-radius(50px);
                background: #f5f5f5;
                & i {
                    color: $color-main;
                }
            }
        }
    }
}

.ant-btn-modal--action {
    @include border-radius(2px);
    border: 1px solid $color-red;
    background-color: $color-red;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    &:hover,
    &:focus {
        background: $color-red-overlay;
    }
}