.b-shadow {
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
    -webkit-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
    -moz-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
}

.b-opacity {
    background-color: rgba($color: #ffffff, $alpha: .9) !important;
}

.zIndex {
    position: relative;
    z-index: 99;
}