.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-35 {
    width: 35% !important;
}

.w-65 {
    width: 65% !important;
}

.max-width {
    max-width: 100% !important;
}