.p-0 {
    padding: 0 !important;
}

.p-8 {
    padding: 8px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-16 {
    padding: 16px !important;
}

.p-24 {
    padding: 24px !important;
}

.p-32 {
    padding: 32px !important;
}

.p-40 {
    padding: 40px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.pl-32 {
    padding-left: 32px !important;
}

.pr-32 {
    padding-right: 32px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pr-40 {
    padding-right: 40px !important;
}