.cr-black {
    color: $color-font !important;
}

.cr-gray {
    color: $color-font-gray !important;
}

.cr-light {
    color: rgba($color: #000000, $alpha: .2) !important;
}

.cr-primary {
    color: $color-main !important;
}

.cr-gold {
    color: $color-yellow !important;
}

.cr-red {
    color: $color-red !important;
}

.cr-orange {
    color: $color-orange !important;
}

.cr-green {
    color: $color-green !important;
}

.cr-success {
    color: $color-success !important;
}

.cr-white {
    color: #ffffff !important;
}