.cr-black {
    color: $color-font !important;
}

.cr-gray {
    color: $color-font-gray !important;
}

.cr-primary {
    color: $color-main !important;
}

.cr-gold {
    color: $color-yellow !important;
}

.cr-red {
    color: $color-red !important;
}

.cr-orange {
    color: $color-orange !important;
}

.cr-green {
    color: $color-green !important;
}