.ant-skeleton {
    padding: 0 15px;
    &.ant-skeleton-active {
        padding: 64px 16px;
    }
    & .ant-skeleton-content {
        & .ant-skeleton-title {
            width: 80% !important;
            margin-top: 0 !important;
            height: 12px !important;
        }
        & .ant-skeleton-paragraph {
            margin: 16px 0 0 0 !important;
            padding: 0;
            & li {
                height: 12px;
            }
        }
    }
}

.ant-spin-nested-loading>div>.ant-spin {
    max-height: 100% !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    top: 0;
}

.ant-spin-blur {
    opacity: 0;
}

.ant-card--padding {
    & .ant-card-loading-content {
        margin: 32px !important;
    }
}

.ant-spin-placeholder {
    @include align-items(center);
    @include flexbox();
    text-align: center;
    height: 100vh;
    overflow: hidden;
    & .ant-spin {
        margin: 0 auto;
        & .ant-spin-text {
            color: rgba($color: #000000, $alpha: .4);
            letter-spacing: 2px;
        }
    }
}