.ant-layout--results-space {
    background: $color-main;
    position: relative;
    height: 180px;
    &::before {
        background-color: $color-main;
        border-radius: 100%;
        position: absolute;
        content: '';
        height: 180px;
        top: 64px;
        left: -32px;
        right: -32px;
    }
}

.ant-layout--results-space-small {
    background: $color-main;
    height: 64px;
}

.ant-divider-title-left {
    & .ant-divider-inner-text {
        padding-left: 0 !important;
        text-transform: capitalize;
        color: $color-font;
        font-weight: 500;
        font-size: 22px;
    }
    &::before {
        width: 0 !important;
    }
    &::after {
        border: none;
    }
}

.ant-divider-title-left-small {
    & .ant-divider-inner-text {
        padding-left: 0 !important;
        text-transform: uppercase;
        color: $color-font;
        font-weight: 500;
        font-size: 18px;
    }
    &::before {
        width: 0 !important;
    }
    &::after {
        border-top: 3px solid $color-border !important;
    }
}

.ant-rate-star {
    margin-right: 4px !important;
}

.dots {
    background-color: rgba($color: #000000, $alpha: .3);
    position: relative;
    display: inline-block;
    border-radius: 50px;
    margin: 0 4px;
    width: 4px;
    height: 4px;
    top: -1px;
}