.ant-layout--results-space {
    background: $color-main;
    height: 180px;
}

.ant-layout--results-space-small {
    background: $color-main;
    height: 64px;
}

.ant-divider-title-left {
    & .ant-divider-inner-text {
        padding-left: 0 !important;
        text-transform: uppercase;
        color: $color-font;
        font-weight: 500;
        font-size: 22px;
    }
    &::before {
        width: 0 !important;
    }
    &::after {
        border-top: 3px solid $color-border !important;
    }
}

.ant-divider-title-left-small {
    & .ant-divider-inner-text {
        padding-left: 0 !important;
        text-transform: uppercase;
        color: $color-font;
        font-weight: 500;
        font-size: 18px;
    }
    &::before {
        width: 0 !important;
    }
    &::after {
        border-top: 3px solid $color-border !important;
    }
}

.ant-rate-star {
    margin-right: 4px !important;
}