.ant-layout-content--payment-ePackage {
    padding: 80px 0;
    & .ant-card {
        & .ant-card-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
    & .ant-btn--action {
        transition: all .2s ease-in-out;
        background-color: $color-main !important;
        color: #ffffff !important;
        border: none !important;
        text-shadow: none;
        box-shadow: none;
        border-radius: 0;
        display: block;
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        height: 56px;
        &:hover,
        &:focus {
            opacity: .7;
        }
    }
    &.ant-layout-content--payment-ePackage-Dp {
        & .ant-btn--action {
            transition: all .2s ease-in-out;
            background-color: $color-yellow;
            color: #ffffff !important;
            border: none !important;
            text-shadow: none;
            box-shadow: none;
            border-radius: 0;
            display: block;
            width: 100%;
            max-width: 320px;
            margin-left: auto;
            height: 56px;
            &:hover,
            &:focus {
                opacity: .7;
            }
        }
    }
    &.ant-layout-content--payment-ePackage-failed {
        & .ant-btn--action {
            transition: all .2s ease-in-out;
            background-color: $color-red;
            color: #ffffff !important;
            border: none !important;
            text-shadow: none;
            box-shadow: none;
            border-radius: 0;
            display: block;
            width: 100%;
            max-width: 320px;
            margin-left: auto;
            height: 56px;
            &:hover,
            &:focus {
                opacity: .7;
            }
        }
    }
}