.ant-layout-content--payment-order {
    & .ant-list--package-information {
        & .ant-list-item--package-information {
            padding: 24px 0;
        }
    }
    & .ant-form {
        & .ant-form-item {
            & .ant-form-item-control {
                & .ant-select-selection {
                    & .ant-select-selection__rendered {
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
    & .ant-btn--action {
        background-color: $color-main;
        border-color: $color-main;
        word-spacing: 0 !important;
        box-shadow: none;
        color: #ffffff;
        min-width: 220px;
        font-weight: 500;
        font-size: 15px;
        border: none;
    }
    & .ant-btn--action-overlay {
        background-color: $color-main;
        border-color: $color-main;
        word-spacing: 0 !important;
        box-shadow: none;
        color: #ffffff;
        min-width: 220px;
        position: absolute;
        font-weight: 500;
        font-size: 15px;
        border: none;
        right: 0;
        bottom: -60px;
    }
}