.ant-layout-content--payment-order {
    & .ant-list--package-information {
        & .ant-list-item--package-information {
            padding: 24px 0;
        }
    }
    & .md-btn--action {
        transition: all .2s ease-in-out;
        background-color: $color-main !important;
        color: #ffffff !important;
        border: none !important;
        text-shadow: none;
        box-shadow: none;
        border-radius: 0;
        display: block;
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        height: 56px;
        &:hover,
        &:focus {
            opacity: .7;
        }
    }
    & .ant-btn--action {
        background-color: $color-main;
        border-color: $color-main;
        box-shadow: none;
        color: #ffffff;
        min-width: 220px;
        font-weight: 500;
        font-size: 15px;
        border: none;
    }
    & .ant-btn--action-overlay {
        background-color: $color-main;
        border-color: $color-main;
        box-shadow: none;
        color: #ffffff;
        min-width: 220px;
        position: absolute;
        font-weight: 500;
        font-size: 15px;
        border: none;
        right: 0;
        bottom: -60px;
    }
}