.ant-layout--payment {
    & .ant-layout-header--payment {
        background-color: $color-main;
        @include align-items(center);
        @include flexbox();
        padding: 0 16px;
        & .ant-logo {
            & img {
                max-height: 36px;
                max-width: 100%;
            }
        }
        & .ant-steps {
            margin-left: auto;
            max-width: 520px;
            & .ant-steps-item-wait {
                & .ant-steps-item-icon {
                    border: 1px solid #ffffff;
                    background: transparent;
                    color: #ffffff;
                    & .ant-steps-icon {
                        color: #ffffff;
                    }
                }
                & .ant-steps-item-content {
                    & .ant-steps-item-title {
                        color: rgba($color: #ffffff, $alpha: .6);
                        font-weight: normal;
                    }
                }
            }
            & .ant-steps-item-process {
                & .ant-steps-item-icon {
                    border: 1px solid #ffffff;
                    background: #ffffff;
                    & .ant-steps-icon {
                        color: $color-main;
                    }
                }
                & .ant-steps-item-content {
                    & .ant-steps-item-title {
                        font-weight: normal;
                        color: #ffffff;
                    }
                }
            }
            & .ant-steps-item-finish {
                & .ant-steps-item-icon {
                    border: 1px solid #ffffff;
                    background: #ffffff;
                    & .ant-steps-icon {
                        color: $color-main;
                    }
                }
                & .ant-steps-item-content {
                    & .ant-steps-item-title {
                        font-weight: normal;
                        color: #ffffff;
                        &::after {
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    & .ant-layout-content {
        padding: 30px 0 80px 0;
    }
    & .ant-layout-footer--payment-order {
        background: #ffffff;
        padding: 20px 30px;
        color: $color-font-gray;
        border: none;
    }
}

@media (max-width: 767px) {
    .ant-layout--payment {
        & .ant-layout-header--payment {
            display: inline-block !important;
            height: auto;
            & .ant-logo {
                text-align: center;
            }
            & .ant-steps-horizontal.ant-steps-label-horizontal {
                position: relative;
                max-width: 100%;
                margin: 0 auto;
                @include flexbox();
                padding: 8px 8px 8px 16px;
                & .ant-steps-item {
                    margin-bottom: 0;
                    & .ant-steps-item-tail,
                    & .ant-steps-item-content {
                        display: none;
                    }
                }
                &:before {
                    border-top: 1px solid rgba($color: #000000, $alpha: .1);
                    position: absolute;
                    content: '';
                    height: 100%;
                    bottom: 0;
                    left: -24px;
                    right: -24px;
                }
            }
        }
    }
}