.ant-card--payment-sider {
    & .ant-card-body {
        padding: 0;
    }
}

.sticky-top {
    position: sticky;
    top: 24px;
}

@media (max-width: 992px) {
    .sticky-top {
        position: relative !important;
        top: 0 !important;
    }
}