html,
body,
* {
    font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.ant-layout {
    background: transparent;
    & .container {
        max-width: 1280px;
        padding: 0 30px;
        margin: 0 auto !important;
    }
}

.spin-loading-container {
    @include align-items(center);
    @include flexbox();
    position: relative;
    text-align: center;
    height: 200px;
    padding: 24px;
    width: 100%;
    & .ant-spin {
        margin: 0 auto;
        color: $color-main;
    }
}

::-webkit-scrollbar {
    display: none;
}


/* Safari */

::-moz-scrollbars {
    display: none;
}

::-o-scrollbar {
    display: none;
}


/* opera */

::-google-ms-scrollbar {
    display: none;
}

::-khtml-scrollbar {
    display: none;
}