html,
body,
* {
    font-family: 'Archivo', sans-serif !important;
    letter-spacing: .5px !important;
}

.ant-layout {
    background: transparent;
    overflow: hidden;
    & .container {
        max-width: 1080px;
        padding: 0 16px;
        margin: 0 auto !important;
    }
}

.spin-loading-container {
    @include align-items(center);
    @include flexbox();
    position: relative;
    text-align: center;
    height: 200px;
    padding: 24px;
    width: 100%;
    & .ant-spin {
        margin: 0 auto;
        color: $color-main;
    }
}

::-webkit-scrollbar {
    display: none;
}


/* Safari */

::-moz-scrollbars {
    display: none;
}

::-o-scrollbar {
    display: none;
}


/* opera */

::-google-ms-scrollbar {
    display: none;
}

::-khtml-scrollbar {
    display: none;
}


/* transition */

.container {
    transition: all .2s cubic-bezier(.55, 0, .1, 1);
}

.page-enter-active,
.page-leave-active {
    transition: opacity .2s
}

.page-enter,
.page-leave-active {
    opacity: 0
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
}