$color-main: #0FACF3;
$color-pink: #F84ECA;
$color-green: #05CBB0;
$color-green-overlay: rgba(5, 203, 176, .8);
$color-yellow-light: #FFD500;
$color-yellow: #CB9605;
$color-orange: #FF7C0A;
$color-font: #484848;
$color-font-gray: #707070;
$color-font-light-gray: #bbb;
$color-border: #ebedf0;