$color-main: #0FACF3;
$color-main-overlay: rgba($color: #0FACF3, $alpha: .8);
$color-pink: #F84ECA;
$color-green: #05CBB0;
$color-success: #52c41a;
$color-red: #F43662;
$color-red-overlay: rgba($color: #F43662, $alpha: .8);
$color-green-overlay: rgba(5, 203, 176, .8);
$color-main-overlay: rgba(15, 172, 243, .8);
$color-yellow-light: #FFD500;
$color-yellow: #CB9605;
$color-yellow-overlay: rgba($color: #CB9605, $alpha: .8);
$color-orange: #FF7C0A;
$color-orange-overlay: rgba($color: #FF7C0A, $alpha: .8);
$color-font: #484848;
$color-font-gray: #707070;
$color-font-light-gray: #bbb;
$color-border: #ebedf0;