@font-face {
    font-family: "CIRCULAR";
    src: url("fonts/CircularLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "CIRCULAR";
    src: url("fonts/CircularMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "CIRCULAR";
    src: url("fonts/CircularBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}