.icon-umrah-white {
    background-image: url('/icons/search/umrah_white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-ticket-white {
    background-image: url('/icons/search/ticket_white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-accommodation-white {
    background-image: url('/icons/search/accommodation_white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-visa-white {
    background-image: url('/icons/search/visa_white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-insurance-white {
    background-image: url('/icons/search/insurance_white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-umrah {
    background-image: url('/icons/search/sUmrah.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-ticket {
    background-image: url('/icons/search/sTicket.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-accommodation {
    background-image: url('/icons/search/sAccommodation.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-visa {
    background-image: url('/icons/search/sVisa.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-insurance {
    background-image: url('/icons/search/sInsurance.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.icon-handling {
    background-image: url('/icons/search/sHandling.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
}

.ant-tabs-tab-active {
    & .icon-umrah {
        background-image: url('/icons/search/activeUmrah.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
    & .icon-ticket {
        background-image: url('/icons/search/activeTicket.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
    & .icon-accommodation {
        background-image: url('/icons/search/activeAccommodation.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
    & .icon-visa {
        background-image: url('/icons/search/activeVisa.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
    & .icon-insurance {
        background-image: url('/icons/search/activeInsurance.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
    & .icon-handling {
        background-image: url('/icons/search/activeHandling.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 28px;
        width: 28px;
    }
}