// icon white
.icon-umrah-white {
    background-image: url('/icons/search/tabs/white/umrah.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-ticket-white {
    background-image: url('/icons/search/tabs/white/ticket.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-accommodation-white {
    background-image: url('/icons/search/tabs/white/accommodation.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-visa-white {
    background-image: url('/icons/search/tabs/white/visa.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-insurance-white {
    background-image: url('/icons/search/tabs/white/insurance.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-handling-white {
    background-image: url('/icons/search/tabs/white/handling.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-equipment-white {
    background-image: url('/icons/search/tabs/white/equipment.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-manasik-white {
    background-image: url('/icons/search/tabs/white/manasik.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-tourleader-white {
    background-image: url('/icons/search/tabs/white/tourleader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

// icon black
.icon-umrah {
    background-image: url('/icons/search/tabs/black/umrah.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-ticket {
    background-image: url('/icons/search/tabs/black/ticket.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-accommodation {
    background-image: url('/icons/search/tabs/black/accommodation.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-visa {
    background-image: url('/icons/search/tabs/black/visa.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-insurance {
    background-image: url('/icons/search/tabs/black/insurance.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-handling {
    background-image: url('/icons/search/tabs/black/handling.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-manasik {
    background-image: url('/icons/search/tabs/black/manasik.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-equipment {
    background-image: url('/icons/search/tabs/black/equipment.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

.icon-tourleader {
    background-image: url('/icons/search/tabs/black/tourleader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    height: 32px;
    width: 32px;
}

// icon tabs active
.ant-tabs-tab-active {
    .icon-umrah {
        background-image: url('/icons/search/tabs/color/umrah.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-ticket {
        background-image: url('/icons/search/tabs/color/ticket.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-accommodation {
        background-image: url('/icons/search/tabs/color/accommodation.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-visa {
        background-image: url('/icons/search/tabs/color/visa.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-insurance {
        background-image: url('/icons/search/tabs/color/insurance.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-handling {
        background-image: url('/icons/search/tabs/color/handling.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-manasik {
        background-image: url('/icons/search/tabs/color/manasik.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-equipment {
        background-image: url('/icons/search/tabs/color/equipment.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
    .icon-tourleader {
        background-image: url('/icons/search/tabs/color/tourleader.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px;
        height: 32px;
        width: 32px;
    }
}