.ant-card-package-mitra {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .06);
    margin-bottom: 16px;
    border: none;
    & .ant-card-cover {
        & .ant-card-cover--images {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            height: 200px;
            width: 100%;
            & .ant-card-cover--overlay {
                & .ant-card-cover--overlay-box-radius {
                    background: $color-main-overlay;
                    @include border-radius(100px);
                    position: absolute;
                    height: 150px;
                    width: 150px;
                    left: -75px;
                    top: -85px;
                }
                & .ant-card-cover--overlay-text {
                    text-transform: uppercase;
                    position: absolute;
                    text-align: center;
                    color: #ffffff;
                    padding: 8px;
                    left: 0;
                    top: 0;
                    & .ant-card-cover--overlay-text-title {
                        line-height: normal;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    & .ant-card-cover--overlay-text-subtitle {
                        text-transform: lowercase;
                        line-height: normal;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    & .ant-card-body {
        padding: 18px;
        & .ant-card-meta {
            & .ant-card-meta-detail {
                & .ant-card-meta-title {
                    white-space: normal;
                    margin-bottom: 0;
                    & .ant-card-meta-title--top {
                        margin-bottom: 8px;
                        & .ant-card-meta-title--top-left {
                            & i {
                                color: $color-yellow-light;
                                font-size: 16px;
                            }
                        }
                        & .ant-card-meta-title--top-right {
                            color: $color-font-gray;
                            font-weight: normal;
                            line-height: normal;
                            font-size: 12px;
                            & .icon {
                                &.icon-star {
                                    & i {
                                        color: $color-yellow-light;
                                        margin-right: 3px;
                                    }
                                }
                                &.icon-comment {
                                    margin-left: 8px;
                                    & i {
                                        color: $color-main;
                                        margin-right: 3px;
                                    }
                                }
                            }
                        }
                    }
                    & .ant-card-meta-title--package {
                        margin-left: 6px;
                        color: $color-font;
                        font-weight: 600;
                        line-height: 22px;
                        font-size: 18px;
                        height: 44px;
                    }
                }
                & .ant-card-meta-description {
                    margin-top: 8px;
                    & .ant-card-meta-description--bottom {
                        white-space: nowrap;
                        & .ant-card-meta-description--bottom-left {
                            font-weight: 600;
                            color: $color-font;
                            font-size: 16px;
                        }
                        & .ant-card-meta-description--bottom-right {
                            & .ant-btn {
                                border: 1px solid $color-main;
                                background: $color-main;
                                text-shadow: none;
                                box-shadow: none;
                                color: #ffffff;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}