.card-product--components {
    @include border-radius(0);
    border: none;
    & .ant-card-cover {
        & img {
            @include border-radius(0);
            width: 100%;
        }
        & .ant-card-cover--overlay {
            position: absolute;
            z-index: 2;
            bottom: 0;
            & .ant-card-meta {
                padding: 40px 20px;
                & .ant-card-meta-title {
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 0;
                    font-size: 20px;
                    color: #ffffff;
                }
                & .ant-card-meta-description {
                    text-align: center;
                    line-height: 16px;
                    font-size: 14px;
                    color: #ffffff;
                }
            }
        }
    }
    & .gradient-bottom {
        background-image: -webkit-linear-gradient(to top, rgba(5, 13, 40, .4), rgba(0, 0, 0, 0)) !important;
        background-image: -moz-linear-gradient(to top, rgba(5, 13, 40, .4), rgba(0, 0, 0, 0)) !important;
        background-image: linear-gradient(to top, rgba(5, 13, 40, .4), rgba(0, 0, 0, 0)) !important;
        position: absolute !important;
        bottom: 0 !important;
        height: 30% !important;
        width: 100% !important;
        min-height: 120px !important;
        left: 0;
    }
}