.ant-layout--package-details {
    position: relative;
    padding-bottom: 80px;
    & .ant-package--images {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        z-index: 99;
        & .ant-package--images-large {
            height: 400px;
            & .ant-package--images-cover {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }
        & .ant-package--images-small {
            height: 200px;
            & .ant-package--images-cover {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    & .bordered-left {
        &::before {
            background: $color-main;
            position: absolute;
            content: '';
            height: 40px;
            width: 2px;
            left: -1px;
            top: 24px;
        }
    }
    & .ant-layout--package-details-body {
        & .ant-package--images {
            overflow: hidden;
            & .ant-package--images-large {
                height: 200px;
                & .ant-package--images-cover {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        & .ant-list--package-information {
            & .ant-list-item--package-information {
                padding: 24px 0;
                & .brand-vendor {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: #fafafa;
                    background-size: cover;
                }
                & .ant-timeline {
                    & .ant-timeline-item {
                        & .ant-timeline-item-tail {
                            border-left: 2px dashed $color-border;
                        }
                        & .ant-timeline-item-head {
                            &.ant-timeline-item-head-blue {
                                border-color: $color-main;
                            }
                        }
                    }
                }
                & .ant-avatar {
                    @include align-items(center);
                    @include flexbox;
                    margin-right: 16px;
                    & i {
                        margin: 0 auto;
                        font-size: 12px;
                    }
                    & img {
                        max-width: 100% !important;
                        height: auto !important;
                    }
                }
                & .ant-card {
                    margin: 16px 0 0 0;
                    & .ant-card-body {
                        padding: 16px 0;
                        & .ant-card-meta-title {
                            color: $color-font-gray;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    & .ant-layout--right {
        & .ant-card--package-information {
            box-shadow: 0 3px 6px rgba(0, 0, 0, .06);
            background-color: #ffffff;
            border: 1px solid $color-border;
            position: relative;
            z-index: 2;
            & .vendor-logo {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            & .ant-card-cover {
                @include border-radius(0);
                & img {
                    @include border-radius(0);
                    width: 100%;
                    max-width: 100%;
                }
            }
            & .ant-card-body {
                padding: 0;
                & .ant-package--rate {
                    color: $color-yellow;
                }
                & .number-input {
                    margin-right: 0;
                    margin-left: 16px;
                    min-width: 100px;
                    & .number-input__button {
                        box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
                        -webkit-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
                        -moz-box-shadow: 0 0 8px rgba($color: #000000, $alpha: .06) !important;
                        background-color: $color-main;
                        @include border-radius(50%);
                        border: 1px solid $color-main;
                        width: 28px;
                        height: 28px;
                        &::before {
                            background-color: #ffffff;
                            width: 30%;
                        }
                        &::after {
                            background-color: #ffffff;
                            height: 30%;
                        }
                    }
                    & .number-input__input {
                        background-color: transparent !important;
                        width: 120px !important;
                        color: $color-font;
                        border: none;
                    }
                }
                & .ant-btn--action {
                    background-color: $color-main;
                    color: #ffffff;
                    border: none;
                }
            }
        }
    }
}