.ant-card--voucher {
    & .ant-card {
        & .ant-card-body {
            padding: 0;
            & .card-voucher {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                & .card-voucher--item {
                    padding: 16px 24px;
                    &.card-voucher--item-number {
                        background-color: $color-main;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        position: relative;
                        & .ant-avatar {
                            background-color: rgba($color: #fff, $alpha: .1);
                            color: #fff;
                        }
                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            width: .9em;
                            height: .9em;
                            background: #fff;
                            border-radius: 50px;
                            right: -.5em;
                            z-index: 10;
                        }
                        &:before {
                            top: -.4em;
                        }
                        &:after {
                            bottom: -.4em;
                        }
                    }
                    &.card-voucher--item-color {
                        background-color: rgba($color: $color-main, $alpha: .2);
                        position: relative;
                    }
                }
            }
        }
        &::before {
            border-left: 10px dotted #fff;
            position: absolute;
            content: '';
            bottom: 8px;
            left: -4px;
            z-index: 2;
            top: 8px;
        }
        &::after {
            border-right: 10px dotted #fff;
            position: absolute;
            content: '';
            bottom: 8px;
            right: -4px;
            z-index: 2;
            top: 8px;
        }
    }
}