.ant-card--steps-proggress {
    @include border-radius(0);
    border-right: 1px solid $color-border;
    height: 100vh;
    & .ant-card-body {
        padding: 24px 0 80px 0;
        overflow: auto;
        height: 100vh;
        & .ant-steps {
            border: none;
            height: 100%;
            margin: 0;
        }
    }
    & .ant-card--footer {
        background-color: #ffffff;
        position: absolute;
        padding: 16px 16px;
        border: none;
        width: 100%;
        left: 0;
        bottom: 0;
        & .ant-btn {
            transition: all ease-in-out .3s;
            background-color: $color-red;
            border-color: $color-red;
            color: #ffffff;
            font-weight: 500;
            font-size: 15px;
            &:hover,
            &:focus {
                background: $color-red-overlay;
            }
        }
    }
}