.ant-layout--results {
    position: relative;
    & .ant-layout--results-space {
        background: $color-main;
        height: 180px;
    }
    & .ant-layout--results-body {
        background: #ffffff;
        min-height: 50vh;
    }
}