.ant-layout--package-details {
    position: relative;
    padding-bottom: 80px;
    & .ant-affix {
        & .ant-layout--package-tabs {
            border-bottom: 1px solid #f5f5f5;
            border-top: 1px solid $color-border;
            background: #ffffff;
            z-index: 99;
        }
    }
    & .ant-layout--package-tabs {
        background: #ffffff;
        & .ant-tabs--item {
            @include flexbox();
            & .ant-tabs--item-link {
                color: $color-font-gray;
                position: relative;
                margin-right: 6px;
                line-height: 55px;
                padding: 0 16px;
                font-size: 16px;
                height: 55px;
                &.active {
                    color: $color-main;
                    &::after {
                        background: $color-main;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
    & .ant-tabs--content {
        position: relative;
        padding: 16px 0;
        & .ant-tabs--content-body {
            & .ant-package--images {
                overflow: hidden;
                & .ant-package--images-large {
                    height: 200px;
                    & .ant-package--images-cover {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            & .ant-list--package-information {
                & .ant-list-item--package-information {
                    padding: 24px 0;
                    & .ant-timeline {
                        & .ant-timeline-item {
                            & .ant-timeline-item-tail {
                                border-left: 2px dashed $color-border;
                            }
                            & .ant-timeline-item-head {
                                background-color: $color-main;
                                &.ant-timeline-item-head-blue {
                                    border-color: $color-main;
                                }
                            }
                        }
                    }
                    & .ant-avatar {
                        @include align-items(center);
                        @include flexbox;
                        margin-right: 16px;
                        & img {
                            max-width: 100% !important;
                            height: auto !important;
                        }
                    }
                    & .ant-card {
                        margin: 16px 0 0 0;
                        & .ant-card-body {
                            padding: 16px 0;
                            & .ant-card-meta-title {
                                color: $color-font-gray;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                    & .ant-btn {
                        background: $color-orange;
                        border-color: $color-orange;
                        text-shadow: none;
                        box-shadow: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}