.content-cover--handling {
    & .content-cover--images {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 420px;
        width: 100%;
    }
}

.content-partner--handling {
    & .brand-logo {
        max-height: 80px;
        padding: 8px;
        display: block;
        margin: 0 auto;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
            & img {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }
}